.landing-page {
  margin-top: 6.5vh;
}

.landing-page__section {
  height: 85vh;
  --section-background-colour: #fff;
  background-color: var(--section-background-colour);
  display: flex;
  justify-content: center;
  align-items: center;
}
